<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,                  Microsoft.Practices.Unity.Configuration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="HFB" connectionString="data source=MN001CP02WP38\HFBWEBDATA;initial catalog=HFBWEBDATA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="HFBWEBDATAEntities" connectionString="metadata=res://*/HFBDB1ST.Model1.csdl|res://*/HFBDB1ST.Model1.ssdl|res://*/HFBDB1ST.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MN001CP02WP38\HFBWEBDATA;initial catalog=HFBWEBDATA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <unity>
    <containers>
      <container>
        <types>
          <type name="phoneFactory" type="Template.BusinessInterface.IEntityFactory, Template.BusinessInterface" mapTo="Template.BusinessLayer.PhoneFactory, Template.BusinessLayer"></type>
          <type name="phoneRepository" type="Template.BusinessInterface.IRepository`1, Template.BusinessInterface" mapTo="Template.DataAccessLayer.PhoneRepository, Template.DataAccessLayer" />
          <type name="itemGetList" type="Template.BusinessInterface.IItemGetList`1, Template.BusinessInterface" mapTo="Template.DataAccessLayer.ItemGetList, Template.DataAccessLayer" />
          <type name="dataAddress" type="Template.BusinessInterface.IAddress, Template.BusinessInterface" mapTo="Template.DataAccessLayer.Address, Template.DataAccessLayer"></type>
        </types>
      </container>
    </containers>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>